{% extends "bootstrap/base.html" %}

{% block title %}This is an base bootstrap page{% endblock %}

{% block styles %}
{{ super() }}
<link rel="icon" type="image/ico" sizes="16x16" href="/static/img/favicon.ico">

<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <!-- <h1>Hello, Bootstrap</h1> -->

  <!-- following is flash message inflate snippet, can present anywhere -->
  {% block flash_msg %}
  {% endblock %}

  <!-- following is the default main snippet, must be inherited -->
  {% block main_snippet %}<p>
  </p>{% endblock %}
    This is Default Main Snippet, must be inherited

{% endblock %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/myscripts.js')}}"></script>
{{ super() }}
{% endblock %}
